/* tell the SVG path to be a thin blue line without an area fill */
path {
	stroke-linejoin: round;
		stroke-linecap: round;
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: lightgrey;
}

.x.axis .minor {
	stroke-opacity: 0.5;
}

.x.axis path {
	display: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: orange;
}

.aGraph {
	width: fit-content;
    display: contents;
}
.summary {
	display: inline-block;
    width: auto;
}
.summary-grid {
    display: grid;
    grid-template-columns: 10em 10em;
    padding: 7em 1em 2em;
}
.summary-grid-row {
    grid-row: auto;
}
.main {
	display: flex;
}
.peaks-grid {
    display: grid;
    grid-template-columns: 10em 10em;
}
.peaks-grid-item {
	padding: 0.1em 0.5em;
}
.peaks-grid-speed {
	text-align: left;
}
.peaks-grid-index {
	text-align: right;
}
.comment-textarea {
	width: 303px;
    height: 4em;
    padding: 1em 1em;
    margin: 1em 0em;
    border-radius: 7px;
}