textarea {
    height: 10em;
	width: 18em;
}
.input-wrapper {
    display: grid;
	margin: 9px;
	grid-gap: 8px;
}
.input-fields {
	display: flex;
	flex-flow: wrap;
}
.recieved-field {
    height: 14em;
    /*width: 36em;*/
    /*border: 1px solid black;*/
    padding: 5px;
    overflow-y: overlay;
}
.info-banner-panel {
	width: 100%;
    font-size: +4em;
    text-align: center;
}
.info-banner-panel h2 {
    padding: 0px;
    margin-block: 0px;
    margin: 0px;
    margin-inline: 0px;
}
.label {
	font-size: large;
}
.graph-link-panel {
    width: -webkit-fill-available;
	text-align: right;
}
.fullscreen {
	background-color: white;
}
.fullscreen-dark {
    background-color: black;
	color: yellow;
}
.fullscreen > .label {
	display: none;
}
.fullscreen > .info-banner {
	font-size: 9rem;
}
.sub-banner {
	display: flex;
}
.right-pane {
	text-align: right;
	padding-right: 4rem;
	display: inline-flex;
}
.timer-button {
	background-color: lightgrey;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 0.5rem;
	padding: 0px;
	cursor: pointer;
	border: 1px solid black;
    border-radius: 4px;
}
.fullscreen-button-span {
	width: inherit;
}
/* tell the SVG path to be a thin blue line without an area fill */
path {
	/*stroke: steelblue;*/
	/*stroke-width: 1.5;*/
	/*fill: none;*/
	stroke-linejoin: round;
		stroke-linecap: round;
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: lightgrey;
}

.x.axis .minor {
	stroke-opacity: 0.5;
}

.x.axis path {
	display: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: orange;
}
.title-banner {
	display: flex;
	width: 95%;
}
.title-panel, .graph-link-panel, .half-pane {
	width: 50%;
}
.graph-link-panel, .no-decoration {
    text-decoration: none;
	color: unset;
}
.graph-link-panel a {
    text-decoration: none;
	color: unset;
}
#video_background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1000;
	opacity: 0%;
}
.schedule-id {
	width: 2em;
    text-align: right;
    border-radius: 4px;
    /* height: 3em; */
    font-size: 2em;
    /* padding: 0.1em;*/
}
.activity-input {
    width: 8em;
    text-align: left;
    border-radius: 4px;
    /* height: 3em; */
    font-size: 2em;
    padding: 0.1em 1em;
}
.interval-input {
	width: 2em;
    text-align: center;
    border-radius: 4px;
    /* height: 3em; */
    font-size: 2em;
    padding: 0.1em;
}
.retire-report {
	cursor: pointer;
    border: 1px solid black;
    padding: 1px;
    border-radius: 3px;
}
.delete-button {
	text-align: center;
    border-radius: 4px;
    /* height: 3em; */
    font-size: 2.4em;
    padding: 0.01em 0.3em;
}
.nothing-yet {
	text-align: center;
    width: 60%;
    padding: 2em;
}
.schedule-field {
    margin: 0.5em 2em;
}
.schedule-button {
/*	padding: 0.5em 3em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
*/
    padding: 0.5em 0em;
    cursor: pointer;
    border: 1px solid black;
    margin: 0.5em 6.5em;
    width: 16.7em;
    border-radius: 4px;
}