__pycache__/
node_modules/
**node_modules*

socket.io.js
socket.io.js.map
socket.io.min.js
socket.io.min.js.map
socket.io.msgpack.min.js
socket.io.msgpack.min.js.map

axios.min.js
d3.v6.js

vue-template-compiler.js
vue-test-utils.umd.js
vue.js
vue.min.js

canvas-speedometer-master/
workout pics/
data/
test-data/
fake-data/
mock-data/
dev-data/

speed-log.txt
temp.txt
temp2.txt 
chromedriver.exe 

.cache/
.cache-test/
dist/
log/ 
